@model Facebook.Models.PhotoWithComments

@{
	ViewBag.Title = "Show";
}


<div>
	<h4>Photo</h4>
	<hr />
	<img class="img-fluid img-thumbnail" src="@Model.photo.photoURL" alt="">
	@foreach (var comment in Model.comments)
	{
		<h3>@comment.userName</h3>
		<p>@comment.text</p>

		if(ViewBag.currentUser == comment.userID)
		{

			using (Html.BeginForm("Delete", "Comment", new { commentId = comment.commentID,photoId=comment.photoID}, FormMethod.Post,null))
			{
				@Html.HttpMethodOverride(HttpVerbs.Delete);
                <button class="btn btn-success" type="submit">Delete</button>
			}
		}
	}

	@using (Html.BeginForm(actionName: "New", controllerName: "Comment", method: FormMethod.Post))
	{
		@Html.Label("Add new comment")
		@Html.Hidden("userID", (string)ViewBag.currentUser.ToString())
		@Html.Hidden("photoID", Model.photo.photoID)
		@Html.TextBox("text", null, new { @class = "form-control" })
		<br />
		<button class="btn btn-success" type="submit">Add</button>
	}
</div>