@model Facebook.Models.PhotoWithComments
@Styles.Render("~/Content/SmallCSS.css")

@{
    ViewBag.Title = "Show";
}
<style>
	.cont-btns{
		display:flex;
		flex-direction:row;
	}
	.btn-margin{
		margin:5px;
	}
</style>

<section class="container wrap">
    <ul class="well well-sm list-group">
        <img class="img-fluid img-thumbnail" src="@Model.photo.photoURL" alt="">

        @foreach (var comment in Model.comments)
        {
            <li class="list-group-item">
                <h3>@comment.userName</h3>
                <p>@comment.text</p>

                @if (ViewBag.currentUser == comment.userID || ViewBag.administrator)
                {
					<div class="cont-btns">
                    @using (Html.BeginForm("Delete", "Comment", new { commentId = comment.commentID, photoId = comment.photoID }, FormMethod.Post, null))
                    {
                        @Html.HttpMethodOverride(HttpVerbs.Delete);
                        <button class="btn btn-success btn-margin" type="submit">Delete</button>
                    }
					@Html.ActionLink("Edit","Edit", "Comment", new { @id = comment.commentID }, new { @class="btn btn-success btn-margin", @display="inline"})
					</div>
				 }
            </li>
        }
        @if (ViewBag.loggedIn || ViewBag.administrator)
        {
            using (Html.BeginForm(actionName: "New", controllerName: "Comment", method: FormMethod.Post))
            {
                @Html.Label("Add new comment")
                @Html.Hidden("userID", (string)ViewBag.currentUser.ToString())
                @Html.Hidden("photoID", Model.photo.photoID)
                @Html.TextBox("text", null, new { @class = "form-control" })
                <br />
                <button class="btn btn-success" type="submit">Add</button>
            }
        }
    </ul>
</section>
