@model IEnumerable<Facebook.Models.Album>

@{
    ViewBag.Title = "Index";
}

@if (ViewBag.userId == ViewBag.currentUserId)
{
    <h2>Your albums</h2>
}
else
{
    <h2>@ViewBag.userName's albums</h2>
}


@if (ViewBag.userId == ViewBag.currentUserId)
{
    <p>
        @Html.ActionLink("Create New", "New", "Album", new { @id = ViewBag.userId }, null)
    </p>
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.name, "Index", "Photo", new { @id = item.albumID }, null)
            </td>

            
            @if (ViewBag.userId == ViewBag.currentUserId)
            {
                <td>
                    @using (Html.BeginForm(actionName: "Edit", controllerName: "Album", method: FormMethod.Post, routeValues: new { id = item.albumID }))
                    {
                        @Html.ActionLink("Edit", "Edit")
                    }
                    @using (Html.BeginForm(actionName: "Delete", controllerName: "Album", method: FormMethod.Post, routeValues: new { id = item.albumID }))
                    {
                        @Html.ActionLink("Delete", "Delete")
                    }
                </td>
            }
        </tr>
    }

</table>
